body {
  background: #0066FF;
}

#game {
  margin-left: auto;
  margin-right: auto;
}

#game-options {
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  text-align: center;
}

#grid {
  position: relative;
  text-align: center;
}

.row {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.square {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  margin-left: 2px;
}

.unrevealed-square {
  background: black;
}

.revealed-bomb {
  background: red;
}

.revealed-safe {
  background: green;
}

.neighbor-bomb-count {
  font-size: 25px;
  margin-top: 5px;
}

.flag {
  color: white;
  font-size: 25px;
  margin-top: 5px;
}

.game-over {
  border: 2px solid black;
  background: white;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 50px;
  z-index: 2;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  padding: 10px;
}
