body {
  background: #0066FF;
}

#game {
  margin-left: auto;
  margin-right: auto;
}

#game-options {
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  text-align: center;
}

.row {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.square {
  display: inline-block;
  background: black;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: 2px;
}
